.pixel {
    height: 1px !important;
    width: 1px !important;
    border-width: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    visibility: hidden;
}

.img-circle {
    border-radius: 50%;
}

body {
  background-color: rgba(0, 153, 153, 0.8);
  background-image: linear-gradient(rgba(0, 0, 0, .1) 2px, transparent 2px),
  linear-gradient(90deg, rgba(0, 0, 0, .1) 2px, transparent 2px),
  linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, .1) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}​

.center {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.5);
}

a:hover, a:active {
    text-decoration: none;
    color: rgba(0, 0, 255, 1);
}

a {
   font-weight: 500;
}

.over img:first-child{display:inline-block}
.over img:nth-child(2){display:none}
.over:hover img:first-child{display:none}
.over:hover img:nth-child(2){display:inline-block}
.over:active img:first-child{display:none}
.over:active img:nth-child(2){display:inline-block}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 5rem 0 2rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
.section-writing {
  margin-top: 4.0rem;
  margin-bottom: 1.2rem;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: rgba(0, 0, 255, 0.5);
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  padding-top: 3rem;
  font-size: 1.6rem;
  font-weight: 100;
}

.highlight {
    color: rgba(0, 0, 255, 0.5);
}

.teaser {
    margin-top: 12rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 15rem 0 2rem;
  }
}

.value-description {
  font-weight: 400;
}
